.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 64px;
}

.AllTheButtons {
    display: flex;
    max-width: 330px;
    flex-wrap: wrap;
    justify-content: center;
    
}

.ControlsButtons {
    display: flex;
    margin: 20px;
}

.PlayButton {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 8px;
    background-color: #66BB6A;
    cursor: pointer;
}

.StopButton {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 8px;
    background-color: #EF5350;
    cursor: pointer;
}
